name: CI sonarqube

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: read

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
      with:
        # Disabling shallow clones is recommended for improving the relevancy of reporting
        fetch-depth: 0

    - name: Analyze with SonarQube
      uses: SonarSource/sonarqube-scan-action@v2.3.0
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      with:
        args:
          -Dsonar.projectKey=eventmapback
          -Dsonar.sources=.
          -X
